
call: <your call>
ituzone: <your ituzone>
cqzone: <your cqzone>
adif_file: </path/to/your/logfile.adif>

smtp_server: <yours goes here>
smtp_login: <yours goes here>
smtp_password: <yours goes here>
smtp_port: 25
smtp_from: <yours goes here>

# Full path the your favorite fonts
font_call: Ubuntu Mono derivative Powerline Bold.ttf
font_text: DroidSansMono.ttf
font_foot: VeraMono-Italic.ttf

text_color: (0, 0, 77)

# For qrz is used to get the name and email address of your contact.
# Go on your qrz account page to get and xml api key
qrz_key: <your key goes here>

# Full path to your qsl card
# The card resolution should be at least 1024x576
qsl_card: default.jpg

signature: Thank you for the QSO, and I will look forward for our next contact, 73

mail_template: |

  Hello $fname, and thank you for our QSO!

  Frequency.: $freq_rx MHz
  Band......: $band
  Mode......: $mode
  RST.......: $rst_sent
  RCVD......: $rst_rcvd
  Date......: $qso_date

  Our contat has also been confirmed on LOTW.

  I am looking forward for our next QSO.

  73,
  Your friendly ham.
